@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #333333;
}

.h2-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

/* Прячем необходимые элементы страницы */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Header */
.page-header {
  padding: 0 70px;
  background-color: #fff;
  color: #000;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navigation-logo-link {
  margin-right: 30px;
  margin-bottom: -12px;
  z-index: 100;
}

.navigation-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-logo-link img {
  width: 140px;
  height: 70px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-search-item {
  margin-right: 24px;
}

.navigation-favorites-item {
  margin-right: 32px;
}

.navigation-search-btn,
.navigation-favorites-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-search-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.navigation-search-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/search-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.navigation-favorites-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navigation-favorites-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/favorites-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.navigation-favorites-count {
  position: absolute;
  bottom: 10px;
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-entry-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #756157;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
}

/* Hero Block */
.hero-image {
  position: relative;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
}

.hero-image::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("/images/divider.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 57px;
  width: 100%;
}

.hero-group {
  background-color: #fff;
  padding: 69px 0;
}

.hero-title {
  margin-bottom: 25px;
}

.hero-desc {
  color: #333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Advantages */
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
  text-transform: uppercase;
}

.advantages-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 30px;
  color: #000;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  min-height: 385px;
}

.advantages-item:first-child .advantages-desc,
.advantages-item:first-child .advantages-title,
.advantages-item:last-child .advantages-desc,
.advantages-item:last-child .advantages-title {
  color: #fff;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(6) {
  padding: 0;
}

.advantages-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.advantages-item:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82b3d3;
}

.advantages-item:nth-child(3) .advantages-dash::before,
.advantages-item:nth-child(4) .advantages-dash::before,
.advantages-item:nth-child(5) .advantages-dash::before {
  background: rgba(0, 0, 0, 0.3);
}

.advantages-item:nth-child(3) {
  background-color: #83b3d31f;
}

.advantages-item:nth-child(4) {
  background-color: #83b3d333;
}

.advantages-item:nth-child(5) {
  background-color: #83b3d31f;
}

.advantages-group {
  max-width: 230px;
}

.advantages-dash::before {
  content: "";
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.advantages-img {
  width: 100%;
  object-fit: fill;
}

/* Service */
.service-section {
  background-color: #fff;
}

.service-info-group {
  width: 505px;
  padding: 64px 0;
  margin: 0 auto;
}

.service-main-title {
  margin-bottom: 20px;
}

.service-main-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 385px;
}

.service-item:first-child,
.service-item:last-child {
  background-color: #83b3d31f;
}

.service-item:nth-child(1)::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background: url("../images/icons/housing-icon.svg") no-repeat center center;
  margin-bottom: 30px;
}

.service-item:nth-child(2)::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background: url("../images/icons/food-icon.svg") no-repeat center center;
  margin-bottom: 30px;
}

.service-item:nth-child(3)::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background: url("../images/icons/souvenirs-icon.svg") no-repeat center center;
  margin-bottom: 30px;
}

.service-group {
  width: 230px;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
}

.service-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333;
}

/* Hotel Search */
.hotel-search-section {
  background-color: #fff;
}

.hotel-search-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
}

.hotel-search-title {
  margin-bottom: 20px;
}

.hotel-search-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
  margin-bottom: 54px;
}

.hotel-search-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
}

.hotel-search-btn:hover {
  background-color: #83736b;
}

/* Newsletter */
.newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 104px;
  background-image: url("../images/subscribe-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.newsletter-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}

.newsletter-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-form-input,
.newsletter-form-btn {
  outline: none;
  border: none;
  height: 52px;
}

.newsletter-form-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 0 14px 20px;
  color: #000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 452px;
}

.newsletter-form-input::placeholder {
  font-family: "PT sans", sans-serif;
  color: #000;
  opacity: 0.6;
}

.newsletter-form-btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  background-color: #82b3d3;
  cursor: pointer;
}

/* Footer */
.page-footer {
  background-color: #fff;
  padding: 40px 70px 30px 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-item {
  list-style: none;
}

.footer-social-item:nth-child(1) .footer-social-link::before {
  content: "";
  display: block;
  background-image: url("../images/icons/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 47px;
  height: 40px;
}

.footer-social-item:nth-child(2) .footer-social-link::before {
  content: "";
  display: block;
  background-image: url("../images/icons/telegram-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 47px;
  height: 40px;
}

.footer-social-item:nth-child(3) .footer-social-link::before {
  content: "";
  display: block;
  background-image: url("../images/icons/youtube-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 47px;
  height: 40px;
}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

/* CATALOG STYLES */
/* Filter */
.filter-section {
  background-image: url("/images/filter-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.filter-section nav {
  margin-bottom: 40px;
}

.main-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}

.filter-form {
  max-height: 160px;
  display: flex;
  justify-content: space-between;
}

.filter-form-left {
  display: flex;
}

.filter-form-group {
  border: none;
}

.filter-form-group:not(:last-child) {
  margin-right: 70px;
}

.filter-form-group button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 50px;
}

.filter-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 32px;
}

.filter-form-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.filter-form-label span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  opacity: 0.3;
}

.filter-form-input {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000;
}

.filter-form-left .filter-form-input {
  margin-right: 16px;
}

.filter-form-list {
  list-style: none;
}

.filter-form-left .filter-form-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-form-right {
  display: flex;
  align-items: end;
}

.filter-form-right .filter-form-group {
  display: flex;
  flex-direction: column;
}

.filter-form-right .filter-form-group:first-child {
  height: 100%;
}

.filter-form-right .filter-form-group button:first-child {
  margin-bottom: 32px;
}

.filter-form-right .filter-form-item {
  display: flex;
}

.filter-form-right .filter-form-item:first-child {
  margin-bottom: 36px;
}

.filter-form-right .filter-form-item:last-child {
  width: 100%;
}

.filter-form-right .filter-form-label {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background: #f2f2f2;
  max-width: 143px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.filter-form-right .filter-form-label:first-child {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.filter-form-right .filter-form-label:last-child {
  margin-right: 2px;
  border-radius: 0 4px 4px 0;
}

.filter-form-right .filter-form-label span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.filter-form-range {
  width: 100%;
}

.filter-form-right .filter-form-input {
  border: none;
  outline: none;
  width: 100%;
  background: #f2f2f2;
}

.filter-form-submit-btn {
  background-color: #82b3d3;
  border-radius: 4px;
}

.filter-form-reset-btn {
  background-color: transparent;
}

/* Catalog */
.catalog-section {
  padding: 50px 70px 60px 70px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #fff;
}

/* Sorting */
.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 41px;
}

.sorting-title {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.sorting-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-select {
  display: flex;
  outline: none;
  border: 2px solid #e5e5e5;
  background: #fff;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  padding: 14px 20px;
  font-weight: 400;
  line-height: 21px;
  max-width: 292px;
  width: 100%;
  margin-right: 70px;
}

.sorting-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.sorting-item:not(:last-child) {
  margin-right: 8px;
}

.sorting-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  border-radius: 4px;
}

.sorting-item:nth-child(1) .sorting-btn::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("/images/icons/grid-view-icon.svg");
}

.sorting-item:nth-child(2) .sorting-btn::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("/images/icons/column-view-icon.svg");
}

.sorting-item:nth-child(3) .sorting-btn::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("/images/icons/list-view-icon.svg");
}

/* Catalog */
.catalog {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
}

/* Card */
.catalog-card {
  max-width: 340px;
  width: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.catalog-card-img {
  width: 100%;
}

.catalog-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-top: 16px;
}

.catalog-card-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.catalog-card-group .catalog-card-favorites-btn.active {
  background-color: #7DB54F;
}

.catalog-card-group button {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding: 8px 0;
}

.catalog-card-more-btn {
  background-color: #756157;
}

.catalog-card-favorites-btn {
  background-color: #82b3d3;
}

.catalog-card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  padding: 8px 0;
  border-radius: 4px;
  background-color: #f2f2f2;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item .active {
  background-color: #f2f2f2;
  color: #000;
}

.pagination-btn {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

/* Catalog Newsletter */
.newsletter-light-section {
  background: none;
  background-color: #fff;
}

.newsletter-light-section .newsletter-title {
  color: #000;
}

.newsletter-light-section .newsletter-desc {
  color: #333;
}
